.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 10 auto;
    padding: 20px;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    text-align: center;
    color:black;
    background-color: bisque;
}
.image{
    height: 200px;
    width: 33%;
    border-radius: 20px;
    margin: 10px;
}

#promise{
    border-radius: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
}
#promise:hover{
    background-color: #c91118;
    color: white;
}


#awayt{
    border-radius: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
}
#awayt:hover{
    background-color: #c91118;
    color: white;
}